@model Photo

@{
    var photo = Model;
}

<tr>
    <td>@photo.Id</td>
    <td class="h-25 w-25">
        <div class="h-25 w-25">
            <img class="w-100 img-fluid h-100 " src="@photo.ImageUrl">
        </div>
    </td>
    <td>
        <a href="@Url.Action("Detail", "Photo", new { Id = photo.Id })">@photo.Title</a>
    </td>
    <td>@photo.Description</td>
    <td>
        @foreach (var category in photo.Categories!)
        {
            <div>@category.Name</div>
        }
    </td>
    <td>
        <a href="@Url.Action("Update", "Photo", new { Id = photo.Id })" class="btn btn-warning">Edit</a>
        <form asp-action="Delete" asp-controller="Photo" asp-route-id="@photo.Id">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </td>
</tr>